@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
:root{
    --primary-blue: #0077ED;
}

body{
    margin-top: 0;
    font-family: 'Poppins';
    margin: 0;
}
// .container{
//     max-width: 1920px;
// }
.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}
.navbar{
    background:black;
    padding: .5em ;
    width:auto;
    .logo{
        margin: .5px;
        margin-left: 2em;
        padding:0;
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 2.5em;
        text-align: center;
    }
    .container{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1920px;
    }

    nav.menu-btn{
        display: block;
    }
    
    nav{
        position: fixed;
        z-index: 999;
        width: 45%;
        right: 0;
        top:0;
        background: #20272E;
        height: 100vh;
        padding: 1em;
    
        ul.primary_nav{
            margin-top: 5em;
        }
    
        li{
            a{
                color: white;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;
    
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
    
    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
    nav{
        display: none;
        }
    
    
    .mobile-menu{
        margin-right:40px;
        cursor: pointer;
    }
    

}


a{
    color: var(--primary-blue);
    text-decoration: none;
    padding:0.3em;
}

ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

.end_note{
    background-color: black;
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        img{
            width: 20px;
            margin: 0 .5em;
        }
        h3{
            color: white;
            font-weight: 100;
        }
    }
}

.information{
    margin: 60px 0;
    margin-top:200px;
    .container{
        width:90%;
        margin-left: 5%;
        h3{
            margin: 10px;;
            font-size: 20px;
            font-weight: 400;
            span{
                color: var(--primary-blue);
            }
        }
        h1{
            word-spacing: 10px;
            margin: 10px;
            margin-top: 5px;
            font-size: 65px;
            font-weight: 550;
        }
    }
}

.content{
    img{
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
    p{
        width: 50%;
        margin-left:25%;
        margin-top: 100px;
        line-height: 30px;
        font-size:20px;
        font-weight:300;
    }
}

.other_post{
    margin-top: 100px;
    padding-bottom:100px;
    text-align: center;
    background-color: #f2f2f2;
    h1{
        padding-top:60px;
        font-size:50px;
    }
    .container{
        display: flex;
        text-align: left;
        justify-content: space-between;
        padding: 0 5%;
        p{
            margin:0;
            padding:0;
        }
        .blog{
            width:30%;
            img{
                margin-left: 10%;
                width:80%;
                height: auto;
            }
            .content{
                width:80%;
                margin-left:10%;
                h2{
                    // word-wrap: break-word;
                    overflow: hidden;
                    margin-bottom:0;
                }
                .info{
                    display: flex;
                    justify-content: space-between;
                    span{
                        color: var(--primary-blue);
                    }
                }
                p{
                    margin:0;
                    padding:0;
                    width:100%;
                }
                a{
                    margin: 0;
                    padding:0;
                }
            }


        }
    }
}

@media only screen and (min-width: 980px){
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }
    
    .navbar nav{
        display: flex;
        justify-content: flex-end;
        background: none;
        position: unset;
        height: auto;
        align-items: center;
        padding: 0.6em;
        ul{
            display: flex;
            width: auto;
            justify-content: space-between;
            margin-top:0;
    
            li{
                margin-left: .5em;
                margin-right: .5em;
            }
        }
    
        a{
            color: white;
            font-size: 1.3rem;
            padding: .1em 1em;
            text-decoration: none;
            font-weight: 100;
        }
    
        ul.primary_nav{
            margin: 0;
        }
    
        li.current a{
            font-weight: bold;
        }
    
    }

}


@media only screen and (min-width: 1080px){

    .other_post{
        h2{
            word-wrap: break-word;
        }
    }
}
