@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
:root{
    --primary-blue: #0077ED;
}

body{
    margin-top: 0;
    font-family: 'Poppins';
    margin: 0;
}
// .container{
//     max-width: 1920px;
// }
.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.navbar{
    background:black;
    padding: .5em ;
    width:auto;
    .logo{
        margin: .5px;
        margin-left: 2em;
        padding:0;
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 2.5em;
        text-align: center;
    }
    .container{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1920px;
    }

    nav{
        display: none;
        }
    
    
    .mobile-menu{
        margin-right:40px;
        cursor: pointer;
    }

}
nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 45%;
    right: 0;
    top:0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary_nav{
        margin-top: 5em;
    }

    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover{
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
}


a{
    color: var(--primary-blue);
    text-decoration: none;
    padding:0.3em;
}

ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

.end_note{
    background-color: black;
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        img{
            width: 20px;
            margin: 0 .5em;
        }
        h3{
            color: white;
            font-weight: 100;
        }
    }
}

.hero{
    max-width: 1920px;
    margin:auto;
    margin-right: auto;

    background-color: #f2f2f2;
    .container{
        padding: 100px 50px;
        text-align: center;
        img{
            width: 65%;
            height: auto;
        }

        .left-col{

            h1{
                margin:0;
                font-size:40px;
                font-weight:550;
                line-height: 40px;
            }
            h3{
                margin:0;
                margin-top: 30px;
                font-size: 15px;
                font-weight:300;
            }

        }
    }
}


.main{
    padding: 10px;
    .container{
        display: flex;
        flex-direction: column;
        .element{
            padding: 0 15%;
            // padding-right: 25%;
            margin: 50px 0;
            display: flex;
            justify-content: space-between;
            img{
                height: auto;
                width: 50px;
            }
            p{
                padding-top:20px;
                font-size: 15px;
                margin: 0 50px;
                margin-right:10px;
            }
        }
    }
}


@media only screen and (min-width: 980px){

    .hero{
        .container{
            text-align: left;
            display: flex;
            justify-content: space-between;
            padding: 50px 100px;
            img{
                width: 80%;
                height: auto;
            }
            .left-col{
                text-align: left;
                padding-top: 12%;
                padding-left:80px;
                h1{
                    margin:0;
                    font-size:100px;
                    font-weight:550;
                    line-height: 100px;
                }
                h3{
                    margin:0;
                    margin-top: 30px;
                    font-size: 30px;
                    font-weight:300;
                }


            }
        }
    }
    
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }
    
    .navbar nav{
        display: flex;
        justify-content: flex-end;
        background: none;
        position: unset;
        height: auto;
        align-items: center;
        padding: 0.6em;
        ul{
            display: flex;
            width: auto;
            justify-content: space-between;
            margin-top:0;
    
            li{
                margin-left: .5em;
                margin-right: .5em;
            }
        }
    
        a{
            color: white;
            font-size: 1.3rem;
            padding: .1em 1em;
            text-decoration: none;
            font-weight: 100;
        }
    
        ul.primary-nav{
            margin: 0;
        }
    
        li.current a{
            font-weight: bold;
        }
    
    }

    .main{
        padding: 100px;

        .container{
            .element{
                padding: 0 30%;
                padding-right: 25%;
                img{
                    height: auto;
                    width: 15%;
                }
                p{
                    padding-top:40px;
                    font-size: 30px;
                    margin: 0 50px;
                }
            }
        }

    }
}

